# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# SQLite (لو الداتا مش مطلوبة)
# *.db

# OS
.DS_Store
Thumbs.db

rag/chroma_db/